<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style>
        body{
            width: 100%;
            margin: 0;
        }
        #canvas-container {
            border: 1px solid #000;
            overflow: auto; 
            max-width: 90vw;    
            position: relative;
        }       
        canvas {
            display: block;
            margin: 0;
            border: none;
            transform-origin: top left; 
        }      
        #right-bar {
            margin-right: 5px;
            border: 1px solid #000;
            min-width: 15vw;  
            position: relative;
            min-height: 40vh;
        }
        #content{
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        #object-header{
            text-align: center;
        }
        #btn{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            margin-top: 10px;
        }
        .btn-child{
            padding: 5px;
            background-color: #333;
            color: #fff;
            border: 1px solid #000;
        }
        .btn-child:hover{
            cursor: pointer;
        }
        ul{
            list-style-type: none;
            padding-left: 0;
            margin-left: 0;
        }
        #object-list li input[type="checkbox"] {
            margin-right: 20px; 
            transform: scale(1.5);   
        }
        #shortcut{
            border-top: 1px solid #000;
        }
        #shortcut-name, #shortcut-list{
            margin-left: 10px;
        }
        #right-bar p{
            font-size: 10px;
        }
    </style>
</head>
<body>
    <h1>Welcome, {{ user_id }}</h1>


    <div id="content">
        <div id="canvas-container">
            <canvas id="imageCanvas"></canvas>
        </div>
    
        <div id="right-bar">
            <div id="btn">
                <div class="btn-child" id="req">Request</div>
                <div class="btn-child" id="submit">Submit</div>
            </div>
            <h2 id="object-header">Objects</h2>
            <p id="object-boxname">Class - Hightlight</p>
            <ul id="object-list"></ul>
            <div id="shortcut"></div>
            <h5 id="shortcut-name">Shortcut</h5>
            <ul id="shortcut-list">
                <li>Zoom in: shift = (+)</li>
                <li>Zoom out: shift - (_)</li>
                <li>Draw: d</li>
                <li>Delete Mode: e</li>
                <li>Delete last: Backspace</li>
                <li>Delete polygon: Delete</li>
            </ul>
        </div>
        </div>
    </div>
   


    <script>
        const canvas = document.getElementById('imageCanvas');
        const objectList = document.getElementById('object-list');
        const ctx = canvas.getContext('2d');
        const user_id = "{{ user_id }}";
        url = 'http://127.0.0.1:5000/';  // Adjust url
        let drawingMode = false;
        let points = [];
        let all_points = [];
        const threshold = 10;  // Adjust threshold value as needed
        let deleteMode = false;
        let selectedPolygonIndex = null;
        let selectedLabel = null;     
        let highlightClasses = [];
        let currentImageIndex = 0;
        let currentImagePath = null;
        let scale = 0.5;

        loadClasses();
        getImagePath();
        function loadClasses() {
            fetch('/static/config.json')
                .then(response => {
                    if (!response.ok) {
                        throw new Error(`HTTP error! status: ${response.status}`);
                    }
                    return response.json();
                })
                .then(config => {
                    const classes = config.classes;
                    objectList.innerHTML = '';              

                    classes.forEach((className, index) => {
                        const listItem = document.createElement('li');      

                        const checkbox = document.createElement('input');
                        checkbox.type = 'checkbox';
                        checkbox.id = `class-${index}`;
                        checkbox.value = className;             

                        const label = document.createElement('label');
                        label.htmlFor = `class-${index}`;
                        label.innerText = className;   
                        
                        const highlightCheckbox = document.createElement('input');
                        highlightCheckbox.type = 'checkbox';
                        highlightCheckbox.id = `class-highlight-${index}`;
                        highlightCheckbox.value = className;

                        const highlightLabel = document.createElement('label');
                        highlightLabel.htmlFor = `class-highlight-${index}`;
                        highlightLabel.innerText = '';

                        checkbox.addEventListener('change', (event) => {
                            if (event.target.checked) {
                                document.querySelectorAll('#object-list input[type="checkbox"]').forEach(box => {
                                    if (box !== event.target) {
                                        box.checked = false;
                                    }
                                });
                                selectedLabel = className;
                                highlightClasses = [];
                            } else {
                                selectedLabel = null;  
                            }
                        });
                        
                        highlightCheckbox.addEventListener('change', (event) => {
                            if (event.target.checked) {
                                highlightClasses.push(className); 
                            } else {
                                const index = highlightClasses.indexOf(className);
                                if (index > -1) {
                                    highlightClasses.splice(index, 1);
                                }
                            }
                            getImagePath();
                        });

                        listItem.appendChild(checkbox);
                        listItem.appendChild(highlightCheckbox);
                        listItem.appendChild(label);
                        objectList.appendChild(listItem);
                    });
                })
                .catch(error => {
                    console.error('Error loading classes:', error);
                });
        }
        async function getImagePath() {
            try {
                const response = await fetch(`/get-image-path/${currentImageIndex}`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    }
                });        

                const data = await response.json();        

                if (data.image_path) {
                    currentImagePath = data.image_path.replace(/\\/g, '/');
                    currentImagePath = `${url}${currentImagePath}`;
                    loadImage(currentImagePath);
                } else {
                    alert("No image more!")
                }
            } catch (error) {
                console.error('Error fetching image path:', error);
            }
        }
        function loadImage(imagePath) {
            const img = new Image();
            img.onload = () => {
                canvas.width = img.width * scale;
                canvas.height = img.height * scale;     
                ctx.clearRect(0, 0, canvas.width, canvas.height);       
                ctx.drawImage(img, 0, 0, img.width * scale, img.height * scale);
                drawAll(img);
                if (points.length > 0){
                    drawPointsAndLines();
                }
            };
            img.src = imagePath;
        }
        

        function drawPointsAndLines() {
            points.forEach((point, index) => {
                const scalePoint = {
                    x: point.x * scale,
                    y: point.y * scale
                }
                ctx.beginPath();
                ctx.arc(scalePoint.x, scalePoint.y, 8, 0, 2 * Math.PI);
                ctx.fillStyle = 'red';
                ctx.fill();

                if (index > 0) {
                    ctx.strokeStyle = 'green';
                    ctx.lineWidth = 2;
                    ctx.moveTo(points[index - 1].x * scale, points[index - 1].y * scale);
                    ctx.lineTo(scalePoint.x, scalePoint.y);
                    ctx.stroke();
                }
            });

            if (points.length > 1 && isNearFirstPoint(points[points.length - 1], points[0])) {
                ctx.strokeStyle = 'blue';
                ctx.lineWidth = 2;
                ctx.moveTo(points[points.length - 1].x * scale, points[points.length - 1].y * scale);
                ctx.lineTo(points[0].x * scale, points[0].y * scale);
                ctx.stroke();
                drawingMode = false;  // Stop drawing if closed
                all_points.push({'label': selectedLabel, 'point': points})
                points = [];
            }
        }
        function drawAll(img){
            ctx.clearRect(0, 0, canvas.width, canvas.height);       
            ctx.drawImage(img, 0, 0, img.width * scale, img.height * scale);
            all_points.forEach(p => {
                let points = p['point'];
                let label = p['label'];
                if (highlightClasses.includes(label)) {
                    points.forEach((point, index) => {
                        const scalePoint = {
                            x: point.x * scale,
                            y: point.y * scale
                        }
                        ctx.beginPath();
                        ctx.arc(scalePoint.x, scalePoint.y, 8, 0, 2 * Math.PI);
                        ctx.fillStyle = 'red';
                        ctx.fill();
        
                        if (index > 0) {
                            ctx.strokeStyle = 'green';
                            ctx.lineWidth = 2;
                            ctx.moveTo(points[index - 1].x * scale, points[index - 1].y * scale);
                            ctx.lineTo(point.x * scale, point.y * scale);
                            ctx.stroke();
                        }
                    });
        
                    if (points.length > 1 && isNearFirstPoint(points[points.length - 1], points[0])) {
                        ctx.strokeStyle = 'blue';
                        ctx.lineWidth = 2;
                        ctx.moveTo(points[points.length - 1].x * scale, points[points.length - 1].y * scale);
                        ctx.lineTo(points[0].x * scale, points[0].y * scale);
                        ctx.stroke();
                    }
                }
            });
        }

        function isNearFirstPoint(lastPoint, firstPoint) {
            const distance = Math.sqrt(Math.pow(lastPoint.x - firstPoint.x, 2) + Math.pow(lastPoint.y - firstPoint.y, 2));
            return distance < threshold;
        }

        canvas.addEventListener('click', (event) => {
            if (drawingMode) {
                const rect = canvas.getBoundingClientRect();
                const x = (event.clientX - rect.left) / scale;
                const y = (event.clientY - rect.top) / scale;
                points.push({ x: x, y: y });

                drawPointsAndLines();
            }
        });
        
        document.addEventListener('keydown', (event) => {
            if (event.key === '='){
                scale *= 1.2;
                getImagePath();
            }
        });

        document.addEventListener('keydown', (event) => {
            if (event.key === '-' && scale > 0.5){
                scale /= 1.2;
                getImagePath();
            }
        });

        document.addEventListener('keydown', (event) => {
            if (event.key === 'd'){
                if (selectedLabel){
                    drawingMode = true;
                }
                else {
                    alert('Please select a label before drawing!');
                }
            }
        });

        document.addEventListener('keydown', (event) => {
            if (event.key == 'Backspace'){
                points.pop();
                getImagePath();
            }
        });

        //  Delete mode  
    
        document.addEventListener('keydown', (e) => {
            if (e.key === 'e') {
                deleteMode = true;
            }
        });
        
        canvas.addEventListener('click', function(event) {
            if(!deleteMode) return;

            const rect = event.target.getBoundingClientRect();
            const clickX = (event.clientX - rect.left) / scale;
            const clickY = (event.clientY - rect.top) / scale;
            point = {'x': clickX, 'y': clickY};
            
            for(let i = 0; i < all_points.length; i++) {
                polygon = all_points[i]['point'];
                if (isInside(point, polygon)){
                    polygon.forEach((point, index) => { 
                        ctx.beginPath();
                        ctx.arc(point.x * scale, point.y * scale, 8, 0, 2 * Math.PI);
                        ctx.fillStyle = 'purple';
                        ctx.fill();
                        ctx.strokeStyle = 'purple';
                        ctx.lineWidth = 2;

                        if (index > 0) {
                            ctx.moveTo(polygon[index - 1].x * scale, polygon[index - 1].y * scale); 
                            ctx.lineTo(point.x * scale, point.y * scale);
                            ctx.stroke();
                        }
                    });
                    selectedPolygonIndex = i;
                    break;
                }
            }
        });

        function isInside(point, polygon){
            const x = point.x;
            const y = point.y;
            let inside = false;     

            const numPoints = polygon.length;       

            for (let i = 0; i < numPoints; i++) {
                const j = (i - 1 + numPoints) % numPoints;     

                const xi = polygon[i].x, yi = polygon[i].y;
                const xj = polygon[j].x, yj = polygon[j].y;     

                const intersect = ((yi > y) !== (yj > y)) && (x < (xj - xi) * (y - yi) / (yj - yi) + xi);      

                if (intersect) {
                    inside = !inside;
                }
            }       

            return inside;
        }

        document.addEventListener('keydown', (event) => {
            if (event.key == 'Delete' && deleteMode) {
                all_points.splice(selectedPolygonIndex, 1);
                deleteMode = false;
                selectedPolygonIndex = null;
                getImagePath();
            }
        });

        // Request, Submit Button
        document.getElementById('submit').addEventListener('click', () => {
            fetch(`/${user_id}/submit-polygons`, {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ 'all_points': all_points , 'current_idx': currentImageIndex})
            })
            .then(response => {
                if (response.ok) {
                    alert('Polygons saved successfully!');
                } else {
                    alert('Failed to save polygons.');
                }
            });
        });
        document.getElementById('req').addEventListener('click', function() {
            currentImageIndex += 1;
            getImagePath();
            console.log('click', currentImageIndex);
        });

    </script>
</body>
</html>